snippet yuib
	<span id="${1:id}" class="yui-button yui-link-button">
		<em class="first-child">
			<a href="${2:link}" id="${3:id_link}" class="add">${4:text}</a>
		</em>
	</span>

snippet wpcode
	[codeblock lang="${1:lang}"]
	    ${2:code}
	[/codeblock]

snippet a
	<a href="${1:link}" title="${2:title}">${3:text}</a>
