# dump out to console
snippet dmp
	console.log(${1|somevar});

snippet doc
	/**
	  * ${1|some_doc}
	  *
	  */

snippet jslint
	/*jslint eqeqeq: false, browser: true, debug: true, onevar: true, plusplus: false, newcap: false  */
	/*global $: false, window: false, self: false, escape: false, mor: false, sprintf: false */

snippet clos
	(function () {
		${1|code}
	}());

snippet deb
	debugger;
