snippet slide
	${1|title}
	===================================

	${2|content}

	.. raw:: pdf

	   Transition Dissolve 1
	   PageBreak


snippet image
	.. image:: {1|image}
	   :height: {2|height}px
	   :width: {3|height}px
	   :alt: {4|alt}
	   :align: center
